section.about__container 
    h2.section-header About us 
    .about__body 
        .about-img__container 
            img(src="imgs/about.jpg", alt="Two hikers enjoying mountain view")
        div 
            p In the summer of 2004, founders Juan Durin and Cam Seits set out to fufill their life-long dream of hiking the Appalachian trail. Childhood friends from Charlotte, NC, both had since relocated across the country. Hiking the 2,200 mile-trail from Springer Mountain in Georgia to Mount Katahdin in Maine — a journey that often takes more than six months — is no small feat, requiring meticulous planning to complete. Living on separate coasts, 3,000 miles apart, made shopping for essential equipment like a tent nearly impossible. It was out of this need — to compare and shop high-quality tents from anywhere — that ABODE was born, the premier online tent marketplace.
    if sectionBtn
        a.contact-us__cta(href="/contact")
            button.section__cta.btn-animate CONTACT US